{% extends 'base.html.twig' %}
{% block title %}FAQ{% endblock %}
{% block body %}
<section class="container-sm py-5 my-5">
    <div class="d-flex aligns-items-center justify-content-center my-2">
        <img src="{{ asset('build/img/crea-title-faq-300.png') }}" width="300px" height="300px" alt="FAQ image"/>
    </div>
    <div class="container-lg text-center my-3">
        <h2>FAQ</h2>
    </div>
    <div class="row justify-content-center px-5 pb-5">
        <div class="accordion col-sm-6 col-lg-10 col-md-12 col-xl-10 col-xxl-12 justify-content-center" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed text-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        How is this law applied?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">The penalization of programmed obsolescence offers a real opportunity to assert consumer rights and protect the environment against these abusive practices. The offence makes it possible to sanction a practice that in the past could be qualified as a commercial strategy. Note that since the Hamon law, if an individual consumer does not have the means to initiate a procedure and collect the necessary evidence, an approved consumer association can do it for him.  This is why we want to refer a large community of consumers and collect data on cases of programmed obsolescence in order to eventually lead group actions in court.
                        The repression of this crime requires proof of the "deliberate" intention to reduce the life of the product "to increase the replacement rate".  While this may seem difficult to prove, it actually depends on the interpretation of the judges.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Why are we doing this?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <h6>The Obsolescence tracker initiative has three main goals:</h6>
                        <ul>
                            <li>To address the increasing consumer demand for environmental information about laptop</li>
                            <li>To raise awareness and transparency by creating a consistent way for consumers to identify and compare the most sustainable laptops</li>
                            <li>To encourage and incentivise suppliers to reduce the environmental impact of their devices.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Why do companies use programmed obsolescence?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">Programmed obsolescence was theorized by Bernard London in 1932 to boost an economic model that had run out of steam during the Great Depression. Economic growth is based on the stimulation of production and consumption. The more people consume, the more companies gain orders and invest to produce more, which theoretically increases employment and sales. VAT also relies on consumption, which leads the government to strongly encourage it in order to finance public spending. Our economic and social model is based on overconsumption, which must be constantly renewed. However, it is possible to imagine alternative economic models that do not rely on overproduction, as shown by some new or transitional businesses (rental, repair, reconditioning, sustainable manufacturers...).
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Which laptop models have been rated so far?
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">By end of 2022 about 180 devices have been rated , and the total number of assessed devices by Obsolescence tracker is continuously increasing in order to keep the pace of new portfolio entrants so that the current growing demand from consumers for more transparency continues to be met. The rated devices can be found on the  websites and shops of the participating laptop operators.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        What is the legal definition of programmed obsolescence? What are the sanctions?
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">After a first unsuccessful legislative proposal in 2013, the offence of programmed obsolescence was introduced in the Energy Transition Law in 2015.  Programmed obsolescence is now defined and punished by articles L441-2 and L454-6 of the Consumer Code. The law aimed at reducing the environmental footprint of the digital, enacted in November 2021, came to make the offense more easily applicable by removing part of the definition ("to increase the replacement rate"), which unnecessarily complicated it. The current definition is therefore :
                        Programmed obsolescence is defined as all techniques, including software, by which the marketer of a product aims to deliberately reduce its lifespan.
                        This offence is punishable by two years imprisonment and a fine of €300,000. The amount of the fine may be increased, in proportion to the benefits derived from the breach, to 5% of the average annual turnover, calculated on the last three annual turnovers known at the date of the facts.
                        The law of energy transition for green growth aims to improve the design of products by sanctioning programmed obsolescence. To learn more, visit the dedicated page of the website of the Ministry of Ecological Transition.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        What are the social issues of planned obsolescence?
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">Many consumers have already experienced programmed obsolescence. In addition to penalizing the purchasing power of consumers, who are forced to change their appliances to buy new ones, programmed obsolescence generates a feeling of frustration and alienation. Programmed obsolescence is also the indirect cause of very difficult working conditions for subcontractors, especially in so-called "developing" countries. Indeed, the reduction in the life span of goods is accompanied by a reduction in production costs that weighs on employees. The production of certain objects such as telephones also gives rise to a struggle for resources that fuels social violence. Finally, programmed obsolescence promotes unsustainable consumption behaviors and institutionalizes every day a disposable culture.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        How do I compare a laptop with the Obsolescence tracker applciation to one without it?
                    </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                    <div class="accordion-body">No. It is not possible. This option will be available soon.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        What does durability mean and how is this related to sustainability or ecological performance?
                    </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                    <div class="accordion-body">One of the key reasons why consumers replace their laptop are defects or wear and tear, which prematurely shortens the viable lifetime of the device.  The more durable the device, the less likely it is to be discarded early, reducing the greenhouse gases associated with the manufacture of a new device and reducing e-waste.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingNine">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        Does repairability relate to the repair cost of the laptop?
                    </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                    <div class="accordion-body">When repairing a laptop, a technician will need to disassemble the device, replace the defective part, and then reassemble it. Therefore, the cost of labor represents a significant portion of the overall cost of repairing a laptop. The design of a laptop makes disassembly and reassembly tedious and not very quick, so this element of the cost will vary.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        Does ending planned obsolescence jeopardize prosperity and jobs?
                    </button>
                </h2>
                <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                    <div class="accordion-body">Fighting against programmed obsolescence implies a change of economic model. It is about consuming and producing less, better, more local and ecological. If the end of programmed obsolescence would lead to changes in terms of employment, it would create new opportunities in other sectors. The European Commission estimates that the development of the circular economy could generate 170,000 additional jobs by 2030.
                        Thanks to the circular, collaborative, social and solidarity economy, it is possible to envisage new types of jobs in repair, services, sustainable development, local agriculture and many other sectors. At the same time, we need to engage in a global reflection on lifestyles, the exchange of goods and services, design, work and voluntary simplicity.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEleven">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                        Does the increase in the life span of products imply a decrease in purchasing power?
                    </button>
                </h2>
                <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                    <div class="accordion-body">No, the increase in the life span of products will not reduce the purchasing power of consumers, on the contrary!
                        Currently, modest households suffer a double penalty: poor quality goods and frequent renewal. Some people argue that low-end goods allow easier access to consumption, because they are cheaper. However, programmed obsolescence is antisocial: not only are products of lesser quality reserved for the poorest, but they have to buy them more often and therefore lose purchasing power in the long term.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwelve">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                        What does the term demountability mean? Isn't it already compulsory to ensure that devices can be dismantled?</button>
                </h2>
                <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
                    <div class="accordion-body">The demountability indicates that the laptop can be easily dismantled, for example: replace the battery, the screen or the motherboard, especially if you want more power or autonomy. Also a key of the keyboard if it is broken. Each component has a barcode that allows you to have the reference and the instructions to install it.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThirteen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                        What are the different types of programmed obsolescence?
                    </button>
                </h2>
                <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
                    <div class="accordion-body">Programmed obsolescence can take various forms, including mainly : technical obsolescence, also called functional or structural obsolescence: when the good no longer functions because of the limited life span of one of its essential and irremovable components; we also speak of indirect obsolescence when spare or replacement parts are made inaccessible or withdrawn from the market (for example, the glass of the coffee maker is no longer sold);
                        Aesthetic obsolescence, also called psychological or cultural obsolescence: by the "old-fashioned" effect, when the professional markets new products in a short period of time that are touted as more efficient in promotional campaigns (for example, a company already has new technological advances that it reserves for its next product that will be marketed only a few months later). Aesthetic obsolescence is more pernicious in the sense that it is mainly done through advertising and marketing and encourages people to renew products before they fail (but for example because they want a bigger screen, more fashionable clothes...).
                        Software obsolescence mainly concerns smartphones or laptop for example, but is increasing with the multiplication of connected objects. It covers several techniques: ; the limitation of the technical support duration compared to the real usage duration; or the incompatibility of format between old and new software version: the mandatory update which is too heavy and which makes the device slow down, causing dysfunctions and inciting to buy a product again.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFourteen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                        How do I interpret the scoring? Does a higher score mean that the ecological performance is better?
                    </button>
                </h2>
                <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
                    <div class="accordion-body">Nullam aliquet lorem nec ipsum aliquet efficitur. Quisque vestibulum ex dignissim, scelerisque dolor a, viverra eros. Sed nulla arcu, ultrices sit amet lorem ut, fringilla cursus magna. Suspendisse convallis quis dolor quis convallis. Ut vehicula ut nulla vel gravida. Nam vitae aliquet sapien, ac suscipit ante. Donec egestas posuere venenatis. In auctor libero in sem tempus facilisis. Vestibulum blandit mi eu orci aliquet faucibus. Integer laoreet vel mauris sed ultricies. Ut turpis arcu, efficitur et metus a, semper pellentesque velit.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFiveteen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiveteen" aria-expanded="false" aria-controls="collapseFiveteen">
                        What is the real environmental benefit in terms of carbon reduction if a device scores 10 points higher than another device?
                    </button>
                </h2>
                <div id="collapseFiveteen" class="accordion-collapse collapse" aria-labelledby="headingFiveteen" data-bs-parent="#accordionExample">
                    <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulputate, felis non lacinia egestas, tellus ex facilisis mauris, at accumsan sem orci id nunc. Donec magna dui, venenatis et est tincidunt, finibus vehicula libero. Maecenas in mi quis nunc dapibus efficitur. Praesent feugiat dui eget iaculis vestibulum. Maecenas dapibus libero sit amet lacus sollicitudin, a sodales neque tincidunt. Suspendisse egestas nec ligula in tincidunt. Cras fringilla facilisis orci at accumsan. Nullam sagittis nulla ante, rutrum tincidunt urna venenatis sed. Cras sapien enim, ultrices id euismod vestibulum, sollicitudin vitae ante. Phasellus auctor, turpis et blandit aliquet, risus neque eleifend erat, eget feugiat nisi lacus id eros. Nunc dictum augue lectus, a blandit tellus hendrerit quis. Sed lacus mauris, vehicula ut metus ut, finibus posuere metus. Suspendisse commodo lacus non eros consectetur, eget lobortis metus dictum.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSixteen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                        Can I compare laptop being evaluated with each other?
                    </button>
                </h2>
                <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen" data-bs-parent="#accordionExample">
                    <div class="accordion-body">No. It is not possible to compare 2 laptops. This option will be available soon.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeventeen">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                        What are our plans going forward?
                    </button>
                </h2>
                <div id="collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="headingSeventeen" data-bs-parent="#accordionExample">
                    <div class="accordion-body">Fusce porta quam id est iaculis, sollicitudin blandit metus pellentesque. Etiam rhoncus et dolor in tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nunc quam, rutrum sit amet cursus non, iaculis a tellus. Vestibulum vel dolor eget sapien pulvinar pretium. Phasellus ac rutrum ipsum, porttitor tincidunt tellus. Maecenas sed orci vehicula, imperdiet risus gravida, fermentum magna. Sed eu placerat lorem. In at est risus. Nulla facilisi. Nunc maximus vestibulum arcu vel eleifend. Nam semper gravida velit, id ornare lorem tristique at. In neque ex, efficitur nec consectetur a, venenatis egestas lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec in odio tempus, aliquet urna vitae, sodales augue.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
